* {
    box-sizing: border-box;
}

/* Reset body and html to remove default margins/padding */
body {
    margin: 0;
    padding: 0;
}

body {
  margin-top: 3.5rem;
    height: 100vh;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    color: black;
    background-color: #1C352D;
    background-image: url('/mandala.png');
    background-size: cover;
    overflow-x: hidden;
}

/* Style the #root div instead of body for layout */
#root {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 2.5rem;
    font-family: 'DM Sans', sans-serif;
    font-size: small;
    color: #c5c3c1;
    text-align: center;
    display: block;
}

footer span {
    color: #F5C9B0;
}

h2 {
    font-family: "Archivo Black";
}

button {
    font-family: 'Space Grotesk';
    border: none;
    border-radius: 0.75rem;
    background-color: #F5C9B0;
    color: #1a1512;
}

button:hover {
    background-color: #be9d8a;
    color: #F9F6F3;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
